@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: #ece8e8;
}

header {
    background-color: #fff;
    height: 80px;
}

header #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
}

header #navbar .nav-brand {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

header #navbar .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

header #navbar .nav-list .nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 1.25rem;
    font-weight: 500;
}

header #navbar .nav-list .nav-item a:hover {
    color: #777;
    transition: color 300ms;
}

main {
    margin-top: 6rem;
}

main #banner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
}

main #banner .banner-content .banner-content-title {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 3.75rem;
    margin-bottom: 2.5rem;
}

main #banner .banner-content .banner-content-subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    max-width: 31.25rem;
    margin-bottom: 2.375rem;
}

main #banner .banner-content .banner-content-btn {
    background-color: #00a8cc;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    border-radius: 0.125rem;
    padding: 0.5rem 1.5rem;
}

main #banner .banner-img {
    border-radius: 50%;
    width: 100%;
    max-width: 25rem;
}

section#posts {
    margin-top: 4.4375rem;
    padding-bottom: 2.5rem;
    background-color: #cff6ff;
}

section#posts .posts-content {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
}

section#posts .posts-content .post-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

section#posts .posts-content .post-content-header .section-title {
    font: 1.375rem;
    font-weight: 500;
}

section#posts .posts-content .post-content-header .view-all-link {
    text-decoration: none;
    color: #418d8d;
}

section#posts .posts-content .posts-cards {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

section#posts .posts-content .posts-cards .post-card {
    background-color: #fff;
    padding: 1.5rem;
}

section#posts .posts-content .posts-cards .post-card h3 {
    font-size: 1.625rem;
    font-weight: 700;
    margin-bottom: 2.3125rem;
}

section#posts .posts-content .posts-cards .post-card span {
    display: block;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #666464;
    font-size: 1rem;
    font-weight: 500;
    height: 4rem;
}

/*parei em 1:04*/